{% extends "layout.html" %}

{% block title %}
  <title>Pattern Builder</title>
{% endblock %}

{% block main %}
<main>
  <form class="form-signin" action="/login" method="post">
      <div class="form-group">
          <input autocomplete="off" autofocus class="form-control" name="foot_width" placeholder="Width of your foot (in)" type="text">
      </div>
      <div class="form-group">
          <input class="form-control" name="foot_length" placeholder="Length of your foot (in)" type="text">
      </div>
      <div class="form-group">
        <label for="yarn_weight">Yarn Weight</label>
        <select multiple class="form-control" id="yarn_weight" name="yarn_weight">
          <option>Laceweight</option>
          <option>Fingering</option>
          <option>Sock</option>
          <option>Sport</option>
          <option>DK</option>
          <option>Worsted</option>
          <option>Bulky</option>
          <option>Super Bulky</option>
        </select>
      </div>
      <div class="form-group">
        <label for="needle_size">Needle Size (US)</label>
        <select class="form-control" id="needle_size" name = "needle_size">
          {% for size in range(19)}
              <option> {{size}} </option>
          {% endfor %}
        </select>
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</main>
{% endblock %}
